{% extends 'base.html' %}

{% block titulo %} Hogview - Cadastro {% endblock titulo %}

{% block conteudo %}
    <div class="cadastro_content">
        <h3>CADASTRO</h3>
            <form action="{{ url_for('front_controller.add')}}" method="POST" enctype="multipart/form-data" class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" id="name" name="textNome" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="mail" class="form-label">E-mail</label>
                    <input type="email" id="mail" name="textMail" class="form-control" required>
                </div>
                <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" name="textSenha">
                </div>
                <div class="col-md-6">
                    <label for="atel" class="form-label">Telefone</label>
                    <input type="text" id="tel" name="textTel" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="photo" class="form-label">Foto do Contato</label>
                    <input type="file" id="photo" name="fileFoto" class="form-control" accept="image/*">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn-add">Adicionar</button>
                </div>
            </form>
    </div>
{% endblock conteudo %}