{% extends 'base.html' %}

{% block titulo %}Hogview - Usuários Cadastrados{% endblock titulo%}

{% block conteudo %} 
   
    <div class="cadastrados_content">
        <h1>USUÁRIOS</h1>

        <!-- Tabela de contatos -->
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Foto do Contato</th>
                    <th>Operação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.mail }}</td>
                    <td>{{ item.tel }}</td>
                    <td>
                        <div class="text-center">
                            <img src="{{ url_for('static', filename=item.imagem) }}" class="rounded" width="50" height="50">
                        </div>
                    </td>
                    {% if session.get('userLogado') %}
                        {% if item.mail == session.get('userLogado') %}
                            <td>
                                <a href="{{ url_for('front_controller.edit', item_mail = item.mail) }}" class="btn-edit">Editar</a>
                                <a href="{{ url_for('front_controller.delete', item_mail = item.mail) }}" class="btn-delete" onclick="return confirm('Confirma a exclusão do CONTATO?');">Excluir</a>
                            </td>
                        {% else %}
                            <td>Ação Bloqueada</td>
                        {% endif%}
                    {% else %}
                    <td>Ação Bloqueada</td>
                    {% endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock conteudo %}