{% extends 'base.html' %}

{% block titulo %} Hogview - Editar Avaliação{% endblock titulo %}

{% block conteudo %}

    <div class="avaliar_content"> 
        <h1 class="mb-4">Editar Avaliação do Personagem</h1>
        <form action="{{ url_for('front_controller.editarpersonagem', info_id=item.id) }}" method="POST" class="row g-3">
            
            <div>
                <p>Nota de {{personagem}}:</p>
                
                <input type="radio" id="nota1" name="nota_edit" value="1" required>
                <label for="1">1</label><br>
                <input type="radio" id="nota2" name="nota_edit" value="2" required>
                <label for="2">2</label><br>
                <input type="radio" id="nota3" name="nota_edit" value="3" required>
                <label for="3">3</label><br>
                <input type="radio" id="nota4" name="nota_edit" value="4" required>
                <label for="4">4</label><br>
                <input type="radio" id="nota5" name="nota_edit" value="5" required>
                <label for="5">5</label><br><br>

                <label for="review_edit" class="form-label">Review:</label>
                <textarea id="review_edit" name="review_edit" rows="4" placeholder="Deixe seu comentário acerca do personagem" maxlength="500">{{item.review}}</textarea>

                <button type="submit" class="btn-add2">Salvar</button>
                <a href="{{ url_for('front_controller.personagens') }}" class="btn-back">Voltar</a>
            </div>
        </form>
    </div>

{% endblock conteudo %}
